.flexContainer {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1024px) {
  .flexContainer {
    flex-direction: row;
  }
}

.articleList {
  margin: var(--spacing-4) var(--spacing-3) 0 0;
  padding: 0;
  list-style: none;
}

.articleListItem {
  margin: 0;
  margin-bottom: var(--spacing-5);
  padding: 0;
  display: block;
}
