.article {
  border: 1px solid var(--color-light-gray);
  border-radius: 6px;
  padding: 0 var(--spacing-5) var(--spacing-5);
  background-color: white;
}

.postDetailsWrapper {
  display: flex;
  align-items: center;
  color: var(--color-gray);
}

.avatar {
  border: 3px solid var(--color-secondary);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.label {
  margin-left: var(--spacing-3);
}

.categoriesHeading {
  font-size: var(--text-sm);
  color: var(--color-gray);
  margin: 0;
  margin-bottom: var(--spacing-2);
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: var(--spacing-3);
  padding: 0;
  list-style: none;
  color: var(--color-secondary);
}

.categoriesListItem {
  margin-right: var(--spacing-4);
  font-size: var(--text-sm);
  font-weight: bold;
}

.link {
  color: var(--color-primary);
}
